*{
    margin: 0px;
    padding: 0px;
    font-size: 25px;
    font-family: 'Grand Hotel', cursive;
    width: 100vw;
    height: 100vh;
}
/*Play de la musica*/

/*Nombres de la pareja y la fecha*/

/*FotoPrincipal*/

/*CuentaAtras*/

/*FrasePrincipal*/

/*Galeria de fotos*/

/*Card de ubicacion Iglesia*/

/*Card de ubicacion de la Fiesta*/

/*Card del #Hashtag del evento*/

/*Card de codigo de vestimenta*/

/*Card de confirmacion*/

/*Foto despedida*/

/*Texto despedida*/
